<div style="
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  ">
  <div>
    <h1 nz-typography>on_board_</h1>
    <nz-divider></nz-divider>
    <div style="
    display: flex;
    flex-direction: column;
    ">
      <a routerLink="/login" >
        <button nz-button nzBlock nzType="primary" nzSize="large">Login</button>
      </a>
      <a routerLink="/register">
        <button nz-button nzBlock nzType="link" nzSize="large">Register</button>
      </a>
    </div>
  </div>
</div>
